<head>
    <meta charset=utf-8 />
    <title>{{ site.name }}: {{ page.title }}</title>
    <link rel="stylesheet" media="screen" type="text/css" href="/css/styles.css" />
    <link rel="alternate" type="application/atom+xml" href="/atom/index.atom" title="Atom Feed" />
    <link rel="alternate" type="application/rss+xml" href="/rss/index.xml" title="RSS Feed" />
    <meta name="DC.title" content="Shutup and Code" />
    <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud">
    <link rel="openid2.local_id" href="https://www.google.com/accounts/o8/id">
    {% if site.tags != "" %}
      {% include collecttags.html %}
    {% endif %}
</head>
